* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(127, 255, 212);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: vh;
  overflow: hidden;
  margin: 0;
  padding: 20px;
}

.container {
  background-color: rgb(67, 220, 169);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 50px 20px;
  text-align: center;
  max-width: 100%;
  width: 800px;
}

.jokeHeader {
  margin: 0px;
  opacity: 0.5;
  letter-spacing: 2px;
  font-size: 20px;
}

.jokeContainer {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 50px auto;
  max-width: 600px;
}

.jokeBtn {
  background-color: rgb(221, 138, 221);
  color: white;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;
}

.jokeBtn:focus {
  outline: 0;
}

.jokeBtn:active {
  transform: scale(0.98);
}
